<div class="timeline">
    <div class="container left-container">
        <div class="text-box ">
            <img src="../../assets/apple-logo.png" alt="">
            <h2>Alphabet Inc</h2>
            <small>2018-2019</small>
            <p>the subject or ideas contained in something written, said, created, or represented: academic/educational
                content. It's easy to update the content of the Web site. art. Content is also the things represented or
                suggested in something written or created as art, or the ideas it communicates.
            </p>
        </div>
        <span class="left-container-arrow"></span>
    </div>
    <div class="container right-container">
        <div class="text-box ">
            <img src="../../assets/google.png" alt="">
            <h2>Alphabet Inc</h2>
            <small>2018-2019</small>
            <p>the subject or ideas contained in something written, said, created, or represented: academic/educational
                content. It's easy to update the content of the Web site. art. Content is also the things represented or
                suggested in something written or created as art, or the ideas it communicates.
            </p>
        </div>
        <span class="right-container-arrow"></span>
    </div>
    <div class="container left-container">
        <div class="text-box ">
            <img src="../../assets/lg.png" alt="">
            <h2>Alphabet Inc</h2>
            <small>2018-2019</small>
            <p>the subject or ideas contained in something written, said, created, or represented: academic/educational
                content. It's easy to update the content of the Web site. art. Content is also the things represented or
                suggested in something written or created as art, or the ideas it communicates.
            </p>
        </div>
        <span class="left-container-arrow"></span>
    </div>
    <div class="container right-container">
        <div class="text-box ">
            <img src="../../assets/microsoft.png" alt="">
            <h2>Alphabet Inc</h2>
            <small>2018-2019</small>
            <p>the subject or ideas contained in something written, said, created, or represented: academic/educational
                content. It's easy to update the content of the Web site. art. Content is also the things represented or
                suggested in something written or created as art, or the ideas it communicates.
            </p>
        </div>
        <span class="right-container-arrow"></span>
    </div>
    <div class="container left-container">
        <div class="text-box ">
            <img src="../../assets/samsung.png" alt="">
            <h2>Alphabet Inc</h2>
            <small>2018-2019</small>
            <p>the subject or ideas contained in something written, said, created, or represented: academic/educational
                content. It's easy to update the content of the Web site. art. Content is also the things represented or
                suggested in something written or created as art, or the ideas it communicates.
            </p>
        </div>
        <span class="left-container-arrow"></span>
    </div>
    <div class="container right-container">
        <div class="text-box ">
            <img src="../../assets/shopping.png" alt="">
            <h2>Alphabet Inc</h2>
            <small>2018-2019</small>
            <p>the subject or ideas contained in something written, said, created, or represented: academic/educational
                content. It's easy to update the content of the Web site. art. Content is also the things represented or
                suggested in something written or created as art, or the ideas it communicates.
            </p>
        </div>
        <span class="right-container-arrow"></span>
    </div>
</div>