<footer class="footer">
    <div class="container-flex">
        <div class="container-row">
            <div class="footer-col">
                <h4>About Us</h4>
                <ul>
                    <p>We provide high-end, affordable services that will help carriers, shippers, and brokers grow
                        their business.</p>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Teams & conditions</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Usefull links </h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Live Load Board</a></li>
                    <li><a href="">How it works</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">SiteMap</a></li>
                    <li><a href="">contact Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Services</h4>
                <ul>
                    <li><a href="">Shippers</a></li>
                    <li><a href="">Brokers</a></li>
                    <li><a href="">Carries</a></li>
                    <li><a href="">Dispatcher</a></li>
                    <li><a href="">Factoring</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">API Reference</a></li>
                    <li><a href="">First Month For Just $0.99</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Info</h4>
                <ul>
                    <li><a href="">(786)220-6669</a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>