<header>
    <div class="conatiner-flex">
        <div class="conatiner">
            <h3>Code@Bizz</h3>
        </div>
        <div class="conatiner">
            <div class="menu-icon" [class.menu_icon_Class]="menu_icon_varable" (click)="toggleNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="menu" [class.menuClass]="menuVariable">
                <li>Home</li>
                <li>Service</li>
                <li>Products</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</header>