<div *ngIf="images && images.length" class="carousel-container">
    <img *ngFor="let image of images;let i=index" [src]="image.imageSrc" [alt]="image.imageAlt"
        [ngClass]="{'image-active': selectedIndex === i}" width="900" class="fade">
</div>

<div *ngIf="indicators" class="carousel-dot-container">
    <span *ngFor="let image of images;let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}"
        (click)="selectedImage(i)">
    </span>
</div>

<div *ngIf="controls" class="btn-carousel btn-prev">
    <i class="bi bi-arrow-left-circle btn-carousel btn-prev"
     (click)="onPrevClick()"
    ></i>
</div>

<div *ngIf="controls" class="btn-carousel btn-next">
    <i class="bi bi-arrow-right-circle btn-carousel btn-next"
     (click)="onNextClick()"
    ></i>
</div>


<!-- parent component -->
<app-carousel-image [images]="image"></app-carousel-image>