<section class="form-container">
    <header>Registration Form</header>
    <form action="#" class="form">
        <div class="input-box">
            <label>Name</label>
            <input type="text" placeholder="Enter your name" required>
        </div>
        <div class="input-box">
            <label>Email Address</label>
            <input type="email" placeholder="Enter your email" required>
        </div>
        <div class="column">
            <div class="input-box">
                <label>Phone Number</label>
                <input type="text" placeholder="Enter your number">
            </div>
            <div class="input-box">
                <label>Birth Date</label>
                <input type="text" placeholder="Enter your birth date">
            </div>
        </div>
        <div class="gender-box">
            <h3>Gender</h3>
            <div class="gender-option">
                <div class="gender">
                    <input type="radio" id="check-male" name="gender" checked />
                    <label for="check-male">Male</label>
                </div>
                <div class="gender">
                    <input type="radio" id="check-female" name="gender" checked />
                    <label for="check-female">Female</label>
                </div>
                <div class="gender">
                    <input type="radio" id="Others" name="gender" checked />
                    <label for="Others">Others</label>
                </div>
            </div>
        </div>
        <div class="input-box">
            <label>Address</label>
            <input type="email" placeholder="Enter your Address line" required>
        </div>
      
        <div class="input-box">
           <button>Register</button>
        </div>
    </form>
</section>