
<!-- --responsive cards-- -->

<div class="container-section" style="margin: 20px 6px;">
    <h1>Our traning section</h1>
    <div class="container">
      <div class="container-items">
        <i class="bi bi-windows"></i>
        <h3>Php Web Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio tempora, maxime harum aspernatur molestias
          exercitationem ea blanditiis. Dicta et quae nobis, aut cumque culpa corporis! Maxime ex atque, harum aut nulla
          cum.</p>
        <button>read More</button>
      </div>
  
      <div class="container-items">
        <i class="bi bi-windows"></i>
        <h3>React Web Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio tempora, maxime harum aspernatur molestias
          exercitationem ea blanditiis. Dicta et quae nobis, aut cumque culpa corporis! Maxime ex atque, harum aut nulla
          cum.</p>
        <button>read More</button>
      </div>
  
      <div class="container-items">
        <i class="bi bi-windows"></i>
        <h3>Android Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio tempora, maxime harum aspernatur molestias
          exercitationem ea blanditiis. Dicta et quae nobis, aut cumque culpa corporis! Maxime ex atque, harum aut nulla
          cum.</p>
        <button>read More</button>
      </div>
  
      <div class="container-items">
        <i class="bi bi-windows"></i>
        <h3>Angular Web Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio tempora, maxime harum aspernatur molestias
          exercitationem ea blanditiis. Dicta et quae nobis, aut cumque culpa corporis! Maxime ex atque, harum aut nulla
          cum.</p>
        <button>read More</button>
      </div>
  
      <div class="container-items">
        <i class="bi bi-windows"></i>
        <h3>Angular Web Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio tempora, maxime harum aspernatur molestias
          exercitationem ea blanditiis. Dicta et quae nobis, aut cumque culpa corporis! Maxime ex atque, harum aut nulla
          cum.</p>
        <button>read More</button>
      </div>
  
      <div class="container-items">
        <i class="bi bi-windows"></i>
        <h3>Angular Web Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio tempora, maxime harum aspernatur molestias
          exercitationem ea blanditiis. Dicta et quae nobis, aut cumque culpa corporis! Maxime ex atque, harum aut nulla
          cum.</p>
        <button>read More</button>
      </div>
  
      <div class="container-items">
        <i class="bi bi-windows"></i>
        <h3>Angular Web Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio tempora, maxime harum aspernatur molestias
          exercitationem ea blanditiis. Dicta et quae nobis, aut cumque culpa corporis! Maxime ex atque, harum aut nulla
          cum.</p>
        <button>read More</button>
      </div>
  
      <div class="container-items">
        <i class="bi bi-windows"></i>
        <h3>Angular Web Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio tempora, maxime harum aspernatur molestias
          exercitationem ea blanditiis. Dicta et quae nobis, aut cumque culpa corporis! Maxime ex atque, harum aut nulla
          cum.</p>
        <button>read More</button>
      </div>
    </div>
  
  </div>
  
  
  
  <!-- Slider -->
  
  